<amp-analytics type="googleanalytics" id="analytics1">
<script type="application/json">
{
  "vars": {
    "account": "UA-18299714-1"
  },
  "triggers": {
    "trackPageview": {
      "on": "visible",
      "request": "pageview"
    },
    "trackClickTwitterLink" : {
      "on": "click",
      "selector": "#twitter-link",
      "request": "social",
      "vars": {
          "socialNetwork": "twitter",
          "socialAction": "click",
          "socialTarget": "https://twitter.com/Matthew_Reid"
      }
    },
    "trackClickGithubLink" : {
      "on": "click",
      "selector": "#github-link",
      "request": "social",
      "vars": {
          "socialNetwork": "github",
          "socialAction": "click",
          "socialTarget": "https://github.com/drei01"
      }
    },
    "trackShareTwitterLink" : {
      "on": "click",
      "selector": "#shareTwitter",
      "request": "social",
      "vars": {
          "socialNetwork": "twitter",
          "socialAction": "share",
          "socialTarget": "https://twitter.com/Matthew_Reid"
      }
    }
  }
}
</script>
</amp-analytics>